<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Market Analysis</title>
  <link rel="stylesheet" href='\static\style.css' />
</head>
<body>
  
  <div class="container">

    <div id="header">
      <div class="nav-container">
        <nav>
          <div><span>S</span>tock <span>M</span>arket <span>A</span>nalysis</div>
        </nav>
      </div>
    </div>
  
    <main>

      <div class="dropdown">
        <button class="dropbtn">SELECT COMPANY</button>
        <div class="dropdown-content">
        <a href="ADANIPORTS.csv">ADANIPORTS</a>
        <a href="COALINDIA.csv">COALINDIA</a>
        <a href="HINDUNILVR.csv">HINDUNILVR</a>
        <a href="ITC.csv">ITC</a>
        <a href="RELIANCE.csv">RELIANCE</a>
        <a href="TCS.csv">TCS</a>
        <a href="TITAN.csv">TITAN</a>
        <a href="WIPRO.csv">WIPRO</a>
        </div>
      </div>

      <form action="" method="POST">
          <div class="columns">
            <div class="searcharea is-9">
              <input class="input" type="text" name="ticker" placeholder="dataset">
            </div>
            <div class="searchbutton is-3">
              <button class="button is-primary">Search</button>
            </div>
          </div>
      </form>

      <div class="graph"></div>

      <div class="btn">
        <button>LINE GRAPH</button>
        <button>CANDLE PLOT</button>
        <button>BAR GRAPH</button>
        <button>LINE AND DOT</button>
      </div>

    </main>

  </div>

  <div id="about">
    <div class="about-container">
      
    </div>
  </div>
  <div class="column">
    {%block body%}
  
    {%endblock%}
  </div>
  <footer>

  </footer>

</body>
</html>