<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Market Analysis</title>
  <link rel="stylesheet" href='\static\style.css' />
</head>
<body>
  
  <div class="container">

    <div id="header">
      <div class="nav-container">
        <nav>
          <div><span>S</span>tock <span>M</span>arket <span>A</span>nalysis</div>
        </nav>
      </div>
    </div>
  
    <main>

      <div class="dropdown">
        <button class="dropbtn">SELECT COMPANY</button>
        <div class="dropdown-content">
        <a href="#">Company 1</a>
        <a href="#">Company 2</a>
        <a href="#">Company 3</a>
        <a href="#">Company 4</a>
        <a href="#">Company 5</a>
        <a href="#">Company 6</a>
        </div>
      </div>

      <div class="graph"></div>

      <div class="btn">
        <button>LINE GRAPH</button>
        <button>CANDLE PLOT</button>
        <button>BAR GRAPH</button>
        <button>LINE AND DOT</button>
      </div>

    </main>

  </div>

  <div id="about">
    <div class="about-container">
      
    </div>
  </div>

  <footer>

  </footer>

</body>
</html>